<ion-header>
  <ion-toolbar>
    <ion-title>
      Reach Out
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <ion-img src="/assets/contact.jpg"></ion-img>
      <ion-card-header>
        <ion-card-title>Corporate Head Quarters</ion-card-title>
      </ion-card-header>
      <ion-card-content>
          <p>Bhilwara Infotechnology Limited</p>
          <p>Bhilwara Towers<br>
              A-12, Sector-1<br>
              Noida-201301<br>
              NCR-Delhi, India<br>
              Phone: +91-120-4390000<br>
              Fax: +91-120-2440294<br>
              e-mail: contact@bhilwarainfo.com</p>
      </ion-card-content>
    </ion-card>
    <ion-card class="welcome-card">
        <ion-card-header>
          <ion-card-title>Regional Office</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            <p>Bhilwara Infotechnology Limited</p>
            <p>#244, Fortune Summit Business Park<br>
                1st Floor, Hosur Road <br>
                Near Silk Board Junction<br>
                Bengaluru, India – 560068.<br>
                Phone: +91-80-46306666<br>
                Fax: +91-80-41466262<br>
                e-mail: info@bhilwarainfo.com</p>
        </ion-card-content>
      </ion-card>
      <ion-card class="welcome-card">
          <ion-card-header>
            <ion-card-title>Pune</ion-card-title>
          </ion-card-header>
          <ion-card-content>
              <p>Bhilwara Infotechnology Limited</p>
              <p>3rd Floor, Marisoft-3 West Wing<br>
                  Marigold IT Park, <br>
                  Pune, India.</p>
          </ion-card-content>
      </ion-card>
      <ion-card class="welcome-card">
          <ion-card-header>
            <ion-card-title>US office address</ion-card-title>
          </ion-card-header>
          <ion-card-content>
              <p>Bhilwara Infotechnology Limited</p>
              <p>16 Squadron BLVD STE 103A <br>
                  New City, NY 10956<br>
                  Phone: +1-929-800-4890<br>
                  e-mail: contact@bhilwarainfo.com</p>
          </ion-card-content>
      </ion-card>
</ion-content>

