<ion-header>
  <ion-toolbar>
    <ion-title>
      Projects
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
        <ion-img src="/assets/1.jpg"></ion-img>
          <ion-card-header>
            <ion-card-title>Infrastructure Management Services</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <p>We provide a range of service for managing application implementations, their maintenance and upkeep. In a nutshell, we ensure your applications are running 24 hours a day, 7 days a week</p>
          </ion-card-content>
        </ion-card>
        <ion-card class="welcome-card">
            <ion-img src="/assets/2.jpg"></ion-img>
              <ion-card-header>
                <ion-card-title>Big Data / Analytics</ion-card-title>
              </ion-card-header>
              <ion-card-content>
                <p>The value of data lies ultimately in its ability to transform decision making. The most effective business outcomes arise from analytics and BI initiatives that deliver what users need to make fact-based, analytic, collaborative decisions.</p>
              </ion-card-content>
        </ion-card>
        <ion-card class="welcome-card">
            <ion-img src="/assets/4.jpg"></ion-img>
              <ion-card-header>
                <ion-card-title>Testing Services</ion-card-title>
              </ion-card-header>
              <ion-card-content>
                <p>Our goal is to fill in resource gaps without affecting your budget or projected deadlines. We adhere to a Process Oriented Approach (POA) that strategically addresses all aspects of testing by extending your current technology and business staff in a cost effective paradigm.</p>
              </ion-card-content>
        </ion-card>
        <ion-card class="welcome-card">
              <ion-card-header>
                <ion-card-title>BIL offers the following:</ion-card-title>
              </ion-card-header>
              <ion-card-content>
                  <ion-list>
                      <ion-item>
                        <ion-label>Integration testing</ion-label>
                      </ion-item>
                      <ion-item>
                        <ion-label>System testing</ion-label>
                      </ion-item>
                      <ion-item>
                        <ion-label>User acceptance testing</ion-label>
                      </ion-item>
                      <ion-item>
                        <ion-label>Regression testing</ion-label>
                      </ion-item>
                      <ion-item>
                        <ion-label>Performance testing</ion-label>
                      </ion-item>
                      <ion-item>
                          <ion-label>Stress testing</ion-label>
                      </ion-item>
                      <ion-item>
                          <ion-label>Enables quick turn around to meet project timelines</ion-label>
                      </ion-item>
                    </ion-list>
              </ion-card-content>
        </ion-card>
</ion-content>
